@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<TheLoai>
@foreach (var item in Model)
{
	var getUrl = "https://localhost:7050/api/phim/" + item.MaTheLoai;
	<li class="nav-item">
		<a class="nav-link active" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true" onclick="showMovieByCategory('@getUrl')">@item.TenTheLoai</a>
	</li>
}
<script>
    function showMovieByCategory(getUrl) {
        var str = "";
        $.ajax({
            type: 'GET',
            url: getUrl,
            dataType: 'json',
            success: function (data) {
                $.each(data, function (key, val) {
					str += `<!-- card -->
		<div class="col-6 col-sm-12 col-lg-6">
			<div class="card card--list">
				<div class="row">
					<div class="col-12 col-sm-4">
						<div class="card__cover">
								<img src="../UploadAnh/Anh/`+ val.anh + `" alt="">
							<a href="#" class="card__play">
								<i class="icon ion-ios-play"></i>
							</a>
						</div>
					</div>

					<div class="col-12 col-sm-8">
						<div class="card__content">
								<h3 class="card__title"><a href="#">`+ val.tenPhim + `</a></h3>
							<span class="card__category">
								<a href="#">Action</a>
								<a href="#">Triler</a>
							</span>

							<div class="card__wrap">
								<span class="card__rate"><i class="icon ion-ios-star"></i>8.4</span>

								<ul class="card__list">
									<li>HD</li>
									<li>16+</li>
								</ul>
							</div>

							<div class="card__description">
								<p>`+val.moTa+`</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end card -->`
                });
                $('#displayMovies').html(str);
            },
            Error: function (xhr) {
                alert(xhr.responseText)
            }
        });
    }
</script>
