@using WebPhimBTL.Common;
@{
    Layout = null;
}
@model TaiKhoan


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600%7CUbuntu:300,400,500,700" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="../Asset/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="../Asset/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="../Asset/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../Asset/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="../Asset/css/nouislider.min.css">
    <link rel="stylesheet" href="../Asset/css/ionicons.min.css">
    <link rel="stylesheet" href="../Asset/css/plyr.css">
    <link rel="stylesheet" href="../Asset/css/photoswipe.css">
    <link rel="stylesheet" href="../Asset/css/default-skin.css">
    <link rel="stylesheet" href="../Asset/css/main.css">

    <!-- Favicons -->
    <link rel="icon" type="image/png" href="../Asset/icon/favicon-32x32.png" sizes="32x32">
    <link rel="apple-touch-icon" href="../Asset/icon/favicon-32x32.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../Asset/icon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../Asset/icon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../Asset/icon/apple-touch-icon-144x144.png">

    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Dmitry Volkov">
    <title>FlixGo – Online Movies, TV Shows & Cinema HTML Template</title>

</head>
<body class="body">

    <div class="sign section--bg" data-bg="../Asset/img/section/section.jpg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="sign__content">
                        @*<div class="sign__form">*@

                        <!-- authorization form -->
                        @using (Html.BeginForm("login", "LogIn", FormMethod.Post))
                        {
                            @Html.ValidationSummary();
                            
                            <a href="index.html" class="sign__logo">
                                <center><img src="../Asset/img/logo.svg" alt="" style="margin-bottom:50px "></center>
                            </a>

                            <div class="sign__group">
                                @Html.TextBoxFor(x=>x.TenTaiKhoan, new{@class="sign__input", placeholder="Username", required="required", autofocus="autofocus"})
                                @*<input type="text" class="sign__input" placeholder="Email">*@
                            </div>

                            <div class="sign__group">
                                @Html.TextBoxFor(x=>x.PassWord , new{ @class="sign__input",type="Password", placeholder="Password"})
                                <span asp-validation-for="PassWord" class="text-danger"></span>
                                @*<input type="password" class="sign__input" placeholder="Password">*@
                            </div>

                            <div class="sign__group sign__group--checkbox">
                                <input id="remember" name="remember" type="checkbox" checked="checked">
                                <label for="remember">Remember Me</label>
                            </div>
                            <button class="sign__btn" type="submit">SIGN IN</button>
                            @*<button class="sign__btn" type="button">Sign in</button>*@

                            <span class="sign__text">Don't have an account? <a asp-controller="LogIn" asp-action="Register">SIGN UP!</a></span>

                            <span class="sign__text"><a href="#">Forgot password?</a></span>

                        }
                        @*</div>*@

                        <!-- end authorization form -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- JS -->
    <script src="../Asset/js/jquery-3.3.1.min.js"></script>
    <script src="../Asset/js/bootstrap.bundle.min.js"></script>
    <script src="../Asset/js/owl.carousel.min.js"></script>
    <script src="../Asset/js/jquery.mousewheel.min.js"></script>
    <script src="../Asset/js/jquery.mCustomScrollbar.min.js"></script>
    <script src="../Asset/js/wNumb.js"></script>
    <script src="../Asset/js/nouislider.min.js"></script>
    <script src="../Asset/js/plyr.min.js"></script>
    <script src="../Asset/js/jquery.morelines.min.js"></script>
    <script src="../Asset/js/photoswipe.min.js"></script>
    <script src="../Asset/js/photoswipe-ui-default.min.js"></script>
    <script src="../Asset/js/main.js"></script>
    <style>
        .field-validation-error {
            color: red;
            display:block;
        }
    </style>
</body>

</html>