<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600%7CUbuntu:300,400,500,700" rel="stylesheet">

	<!-- CSS -->
	<link rel="stylesheet" href="~/asset/css/bootstrap-reboot.min.css">
	<link rel="stylesheet" href="~/asset/css/bootstrap-grid.min.css">
	<link rel="stylesheet" href="~/asset/css/owl.carousel.min.css">
	<link rel="stylesheet" href="~/asset/css/jquery.mCustomScrollbar.min.css">
	<link rel="stylesheet" href="~/asset/css/nouislider.min.css">
	<link rel="stylesheet" href="~/asset/css/ionicons.min.css">
	<link rel="stylesheet" href="~/asset/css/plyr.css">
	<link rel="stylesheet" href="~/asset/css/photoswipe.css">
	<link rel="stylesheet" href="~/asset/css/default-skin.css">
	<link rel="stylesheet" href="~/asset/css/main.css">
	<link rel="stylesheet" href="~/asset/css/home.css?v=3">
	<!-- Favicons -->
	<link rel="icon" type="image/png" href="~/asset/icon/favicon-32x32.png" sizes="32x32">
	<link rel="apple-touch-icon" href="~/asset/icon/favicon-32x32.png">
	<link rel="apple-touch-icon" sizes="72x72" href="~/asset/icon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="~/asset/icon/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="144x144" href="~/asset/icon/apple-touch-icon-144x144.png">
	<script src="~/a/jquery-3.6.0.min.js"></script>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="Dmitry Volkov">
	<title>FlixGo – Online Movies, TV Shows & Cinema HTML Template</title>

</head>
<body class="body">
    @Html.Partial("_LayoutHeader")



    @RenderBody()

    <!--
      - #FOOTER
    -->
    @Html.Partial("_LayoutFooter")

	<ul class="dialog">
	</ul>
	<style>
		.dialog {
			z-index: 3;
		}
	</style>
    <!--
      - #GO TO TOP
    -->
	<script src="~/asset/js/jquery-3.3.1.min.js"></script>
	<script src="~/asset/js/bootstrap.bundle.min.js"></script>
	<script src="~/asset/js/owl.carousel.min.js"></script>
	<script src="~/asset/js/jquery.mousewheel.min.js"></script>
	<script src="~/asset/js/jquery.mCustomScrollbar.min.js"></script>
	<script src="~/asset/js/wNumb.js"></script>
	<script src="~/asset/js/nouislider.min.js"></script>
	<script src="~/asset/js/plyr.min.js"></script>
	<script src="~/asset/js/jquery.morelines.min.js"></script>
	<script src="~/asset/js/photoswipe.min.js"></script>
	<script src="~/asset/js/photoswipe-ui-default.min.js"></script>
	<script src="~/asset/js/main.js"></script>
	<script src="~/asset/js/home.js"></script>
    
	<script>
		function load() {
			let id = $('header').attr('name-user');
			if (id == "") {
				$('.header__sign-in').show()
				$('.header__info').hide()
				$('.header__logout').hide()
			}

			else {
				$('.header__sign-in').hide()
				$('.header__info').show()
				$('.header__logout').show()
			}

		}
		$('.header__info').click(()=>{
			$('.header__info').hide()
		})
		load()
	</script>
	<style>
		.header__auth{
			margin-right: -90px;
		}
	</style>
</body>

</html>