@using WebPhimBTL.Models;
@model IEnumerable<TheLoai>
<a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
    <span class="menu-title"> Thể loại</span>
    <i class="menu-arrow"></i>
    <i class="mdi mdi-crosshairs-gps menu-icon"></i>
</a>
<div class="collapse" id="ui-basic">
    <ul class="nav flex-column sub-menu">
        @foreach (var item in Model)
        {
            @*var getUrl = "https://localhost:7186/api/phimapi/" + item.MaTheLoai;
            <li class="nav-item"><a class="nav-link" id="display-product" stype="cursor:pointer" onclick="GetProductbyid('@getUrl')">@item.TenTheLoai</a></li>*@
            <li class="nav-item"> <a id="display-product" class="nav-link" asp-area="admin" asp-controller="PhimAdmin" asp-action="DanhSachTheLoai" asp-route-matheloai="@item.MaTheLoai">@item.TenTheLoai</a></li>
        }
    </ul>
</div>


